:root{
    --primary-green: #B3e4ca;
    --primary-light: #f4f3f4;
    --light-blue: #c6e2ff;
    --pink: #ffc8cd;
    --yellow: #f4d862;
}

.title-bar {
    background-color: var(--primary-green);
}

.body {
    height: 100vh;
    background-color: var(--yellow);
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cities label {
    font-weight: 600;
    font-size: 18px;
  }
  
  .cities {
    display: flex;
    flex-direction: column;
  }

  .main {
    margin: auto;
    width: 60%;
    padding: 20px;   
  }

  button {
      background-color: silver;
      height: 40px;
      border-radius: 5px;
      padding-left: 10px;
      padding-right: 10px;
  }
  