:root{
    --primary-green: #B3e4ca;
    --primary-light: #f4f3f4;
    --light-blue: #c6e2ff;
    --pink: #ffc8cd;
    --yellow: #f4d862;
}

.title-bar {
    background-color: var(--primary-green);
}

.body {
    height: 100vh;
    background-color: var(--yellow);
}

.camera-logo {
    background-image: url(./Assets/Images/WWWT_Camera.png);
    background-size: auto;
}