:root{
    --primary-green: #B3e4ca;
    --primary-light: #f4f3f4;
    --light-blue: #c6e2ff;
    --pink: #ffc8cd;
    --yellow: #f4d862;
}

.title-bar {
    background-color: var(--pink);
    font-family: industry-inc-base, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

h1, h2, h3, h4 {
    margin-top: 20px;
    margin-left: 20px;
    font-family: industry-inc-in-n-out, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.body {
    height: 100vh;
    background-color: var(--yellow);
}

.camera-logo {
    background-image: url(./Assets/Images/WWWT_Camera.png);
    background-size: auto;
}

.button {
    margin-left: 20px;
}

.reveal {
    background-color: #B3e4ca;
}

.reveal .button {
    background-color: #ffc8cd;
    color: black
}

.sidebar {
    background-color: var(--light-blue);
}

.contact-info {
    background-color: var(--yellow);
}
.card-divider {
    border: black;
    border-radius: 50%;
    height: 30%;
}

#about-copy {
    font-family: basic-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
}